$font-headline: "woodford_bourne", Helvetica, sans-serif;
$font-body: "gfs_didot", 'Times New Roman', serif;

$white: #FFFFFF;
$dark-grey: #3D3B37;
$medium-grey: #64625F;
$light-grey: #E5E2DD;
$outline: #FDD172; // see ::selection in reset-custom
$gradient: linear-gradient(221.24deg, #FAE298 0%, #FFB64F 100%);

$corner: 3px;
$box-shadow-two: 0 4px 8px 0 rgba(12,0,51,0.1);
$box-shadow-five: 0 24px 32px 0 rgba(12,0,51,0.1);

$card-width: 590px;

$bp-tablet: 620px;
$bp-tablet-text: 550px;

$bp-desktop: 1200px;

$bp-lightbox: 800px;
