.categories {
  background: $gradient;
}
.categories__innerwrapper {
  padding: 0 16px;
}
.card {
  background-color: $white;
  margin: 16px auto;
  border-radius: $corner;
  box-shadow: $box-shadow-five;
  max-width: 430px;
}
.card__title {
  padding: 15px 0 10px 30px;
}
.card__icons-wrapper {
  display: flex;
  flex-flow: row wrap;
  padding: 16px;
  justify-content: space-around;
}
.card__icon-container {
  flex: 1 1 34%; // min-width: 100px;
  margin: 16px;
  text-align: center;
}
.card__icon {
  max-width: 64px;
  margin: 0 auto;
}
.card__icon--org {
  max-width: 100px;
}
.card__description {
  padding-top: 15px;
  font-family: $font-body;
}
.card__description--single-line {
  padding-top: 20px;
}
@media (min-width: $bp-tablet) {
  .card {
    margin: 40px auto;
    max-width: $card-width;
  }
  .card__icon-container {
    flex: 1 1 15%;
  }
}
@media (min-width: $bp-desktop) {
  .categories__innerwrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .card {
    min-width: $card-width;
    margin: 16px auto;
  }
}
