// Sample https://github.com/ampproject/amp-by-example/blob/master/src/20_Components/amp-lightbox.html
.lightbox {
  background-color: $dark-grey; // rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
}
.lightbox__close-wrapper,
.lightbox__controls {
  flex: 0 0 auto;
}
.lightbox__close-wrapper {
  cursor: pointer;
  min-height: 16px;
}
.lightbox__close-spacer {
  flex: 1 1 auto;
  cursor: pointer;
  min-width: 16px;
}
.lightbox__content-wrapper {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
}
.lightbox__content {
  flex: 1 1 100%;
  overflow-y: scroll;
  background: $gradient;
  margin: 16px;
  border-radius: $corner $corner 0 0;
  width: 100%;
  max-width: $bp-lightbox;
  margin: 0 auto;
}
.lightbox__card {
  border-radius: $corner;
  background-color: $white;
  margin: 16px;
}
.lightbox__card--icon {
  padding-top: 20px;
}
.lightbox__icon {
  max-height: 64px;
  margin: 0 auto 20px auto;
}
.lightbox__title {
  padding: 12px 0;
  text-transform: uppercase;
  text-align: center;
}
.lightbox__subtitle-wrapper {
  display: flex;
  flex-direction: row;
}
.lightbox__subtitle {
  margin: 15px 0 10px 0;
  flex: 1 1 auto;
}
.lightbox__subtitle--no-icon {
  margin-left: 16px;
}
.lightbox__subicon {
  margin: 0 16px;
  width: 24px;
  flex: 0 0 auto;
}
.lightbox__textwrapper {
  padding: 16px;
  padding-top: 0;
}
.lightbox__link {
  color: $medium-grey;
  text-decoration: none;
  line-height: 100%;
  display: inline-block;
  &:hover {
    color: $dark-grey;
  }
  &::after {
    display: block;
    content:'';
    width: 100%;
    height: 1.5px;
    background-color: $medium-grey;
    margin-top: 0.5px;
    cursor: pointer;
  }
  &:hover::after {
    background-color: $dark-grey;
  }
}
.lightbox__list {
  padding-left: 15px;
  list-style-type: circle;
  list-style-position: outside;
  li {
    padding-top: 8px;
  }
}
.lightbox__list-title {
  display: block;
  padding-top: 16px;
  font-family: $font-headline;
  font-weight: 700;
}
// TODO Separate Controls into its own component
.lightbox__controls {
  background-color: $medium-grey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: inset 0px 6px 12px 0px rgba(61,59,55,0.1);
}
.lightbox__controls-icon {
  width: 32px;
}
.lightbox__controls-button {
  cursor: pointer;
  padding: 16px 32px;
  &:hover {
    background-color: $dark-grey;
    transition: background-color 0.3s ease;
  }
}
@media (min-width: $bp-lightbox) {
  .lightbox__close-wrapper {
    min-height: 64px;
  }
}
@media (min-width: $bp-tablet) {
  .lightbox__card {
    margin: 32px;
  }
  // TODO Add srcset for 32px icon
  .lightbox__subicon {
    width: 32px;
    margin: 0 32px;
  }
  .lightbox__subtitle--no-icon {
    margin-left: 32px;
  }
  .lightbox__textwrapper {
    padding: 32px;
    padding-top: 0;
  }
}
// TODO ANIMATIONS
// TODO put pack:
// role="button"
// tabindex="0"
